@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #000046 0%, #1cb5e0 100%);
  color: whitesmoke;
  flex-direction: column;
  
}

.main-header{
  font-family: 'Montserrat', sans-serif;
}

